.about-us{
    background-image: url(../Images/aboutusBG.png);
    background-position: center;
    background-size: 700px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #F29727;
    height: fit-content;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.2rem;
    text-align:start;
    line-height: 1.5;
    >h2{
        padding: 10px 10px;
        text-align: center;
        background-color:  #ffffff33 
    }
    >p {
        padding: 10px 20px;

        color: #FFFFFF;
        background-color:  #ffffff33 ;
    }

    .newsletter {
        text-align: center;
        background-color:  #ffffff33;
        padding: 20px 0;

        input {
            
            display: block;
            outline: 0;
            border: 0;
            padding: 5px;
            border-radius: 7px;
        }

        .sub-btn {
            all: unset;
            font-size: 0.875rem;
            font-family: $primaryFont;
            margin-top: 8px;
            padding: 0 18px;
            width: fit-content;
            height: 40px;
            color: white;
            background-color: $secondary;
            border-radius: 7px;
        }

    }
}

