// Basics


html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: $S;
    font-family:$primaryFont;

}

.App {
    height: 100%;

}

#root {
    height: 100%;

}

.home {
    height: 100%;

}




h1{
    font-size: $XXL;
    color:white;
    letter-spacing: 1px;

}
h2 {
    color:$primary;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: lighter;
}
p {
    font-size: $M;
    font-family:$textFont;
    letter-spacing: 1px;

}

a, a:visited, a:hover {
    text-decoration: none;
}





//Flexbox

.flex {
    display:flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }

    &-jc-sa {
        justify-content: space-around;
    }
    &-jc-se {
        justify-content: space-evenly;
    }
    &-ai-c {
        align-items: center;
    }
    &-ai-r {
        align-items:end;
    }

    &-fd-c {
        flex-direction: column;
    }

    &-fd-r {
        flex-direction: row;
    }

    
}


