// Basics

html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

button{
    all: unset;
    cursor: pointer;
    font-family: $primaryFont;
    text-align: center;
    color:white;
    height: 45px;
    width: 90px;
    border-radius: 7px;
    background-color: $secondary;
    transition: all 100ms ease-in;

    &:hover {
        background-color: $primary;
    }
}


h1,h2{
    
    color:white;
    font-family:$primaryFont;
}

a, a:visited, a:hover {
    text-decoration: none;
}



//Flexbox

.flex {
    display:flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }

    &-jc-sa {
        justify-content: space-around;
    }
    &-jc-se {
        justify-content: space-evenly;
    }
    &-ai-c {
        align-items: center;
    }
    &-ai-r {
        align-items:end;
    }

    &-fd-c {
        flex-direction: column;
    }

    &-fd-r {
        flex-direction: row;
    }

    
}


