.hero{
    background-color: $primary;
    height: 100vh;
    background-image: url(../Images/vintage-alarm-clock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px auto;

    // .circle {
    //     height: 100px;
    //     width: 100px;
    //     outline: red 1px;
    //     border: red 51px;
    //     position: absolute;
    //     padding: 10px;
    // }
}