@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');


// Colors

$primary:#22A699;
$secondary: #F2BE22;
$common:#F29727;
$lessCommon: #F24C3D;


// Fonts

$primaryFont:  'Source Code Pro', monospace;
