html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button {
  all: unset;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  height: 45px;
  width: 90px;
  border-radius: 7px;
  background-color: #F2BE22;
  transition: all 100ms ease-in;
}
button:hover {
  background-color: #22A699;
}

h1, h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-r {
  align-items: end;
}
.flex-fd-c {
  flex-direction: column;
}
.flex-fd-r {
  flex-direction: row;
}

nav {
  height: 45px;
  background-color: #F2BE22;
}
nav i {
  font-size: 30px;
  color: red;
  left: 30px;
  top: 250px;
  size: 30px;
  position: absolute;
}

@media (max-width: ) {
  .bars {
    margin: 10px;
    float: right;
  }
  .bars > span {
    height: 5px;
    width: 30px;
    background-color: white;
    border-radius: 2px;
  }
  .bars > span:not(:last-child) {
    margin-bottom: 5px;
  }
  .open .bar1 {
    transform: rotate(45deg);
    transform-origin: 8px 10px;
  }
  .open .bar2 {
    opacity: 0;
    transform: translate(10%);
  }
  .open .bar3 {
    transform: rotate(-45deg);
    transform-origin: 4px -9px;
  }
}
.hero {
  background-color: #22A699;
  height: 100vh;
  background-image: url(../Images/vintage-alarm-clock.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px auto;
  background-blend-mode: soft-light;
  text-align: center;
}
.hero > h1 {
  margin-bottom: 60px;
  font-size: 2rem;
  text-shadow: 3px 5px 2px #474747;
}

@media (min-width: 481px) {
  .hero {
    background-color: #22A699;
    height: 100vh;
    background-image: url(../Images/vintage-alarm-clock.png);
    background-repeat: no-repeat;
    background-position: right -95% bottom 30%;
    background-size: 1300px auto;
    text-align: center;
    background-blend-mode: soft-light;
  }
  .hero > h1 {
    font-size: 2rem;
    text-shadow: 3px 5px 2px #474747;
  }
  .cart-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background-color: red;
  }
}
.products {
  background-color: #F2BE22;
  height: 100vh;
  text-align: center;
  background-image: url(../Images/Persistence_of_Memory.jpg);
  background-repeat: no-repeat;
  background-position: left 10% bottom 50%;
  background-size: 600px auto;
  background-blend-mode: luminosity;
}
.products .products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}
.products .each-product img {
  border: 0px groove #22A699;
  border-radius: 12px 12px 0 0;
  width: 155px;
}
.products .each-product > span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #22A699;
  border: 10px solid #22A699;
  border-radius: 0 0 8px 8px;
  width: 155px;
}

@media (min-width: 481px) {
  .products {
    background-color: #F2BE22;
    height: 100vh;
    text-align: center;
    background-image: url(../Images/Persistence_of_Memory.jpg);
    background-repeat: no-repeat;
    background-position: left 10% bottom 50%;
    background-size: 600px auto;
    background-blend-mode: luminosity;
    display: flex;
    justify-content: right;
  }
  .products .products-container {
    width: 50%;
    float: right;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
  }
  .products .each-product img {
    border: 0px groove #22A699;
    border-radius: 12px 12px 0 0;
    width: 200px;
  }
  .products .each-product > span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #22A699;
    border: 10px solid #22A699;
    border-radius: 0 0 8px 8px;
    width: 200px;
  }
}
.about-us {
  background-color: #22A699;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  text-align: start;
  line-height: 1.5;
}
.about-us > h2 {
  padding: 10px 10px;
  text-align: center;
}
.about-us > p {
  margin: 10px 10px 10px 10px;
}
.about-us .newsletter {
  text-align: center;
  background-color: #175c55;
  padding: 20px 0;
}
.about-us .newsletter input {
  display: block;
  outline: 0;
  border: 0;
  padding: 5px;
  border-radius: 7px;
}
.about-us .newsletter .sub-btn {
  all: unset;
  font-size: 0.875rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 8px;
  padding: 0 18px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  color: white;
  background-color: #F2BE22;
  border-radius: 7px;
}/*# sourceMappingURL=styles.css.map */