@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 0.875rem;
  font-family: "Abril Fatface", cursive;
}

.App {
  height: 100%;
}

#root {
  height: 100%;
}

.home {
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  color: white;
  letter-spacing: 1px;
}

h2 {
  color: #22A699;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: lighter;
}

p {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-r {
  align-items: end;
}
.flex-fd-c {
  flex-direction: column;
}
.flex-fd-r {
  flex-direction: row;
}

.button {
  cursor: pointer;
  height: 45px;
  width: 90px;
  text-align: center;
  background-color: #faffb9;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  color: black;
  border: 0;
  border-radius: 7px;
  transition: all 100ms ease-in;
}
.button:hover {
  background-color: #FFDAB9;
}

.button2 {
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
  background-color: #FFDAB9;
  font-family: "Abril Fatface", cursive;
  font-weight: lighter;
  color: black;
  border: 0;
  border-radius: 7px;
  transition: all 100ms ease-in;
}
.button2:hover {
  color: white;
  background-color: #22A699;
}

nav {
  position: fixed;
  right: 0;
  z-index: 1;
}

.mobile__menu {
  visibility: hidden;
  position: absolute;
  left: -100%;
  width: 100%;
  transition: all 150ms ease-in-out;
}
.mobile__menu > a {
  visibility: hidden;
}

.is-active {
  overflow-y: hidden;
  position: absolute;
  left: 0%;
  visibility: visible;
}

@media (max-width: 481px) {
  .desktop__links {
    display: none;
  }
  .bars {
    margin: 10px;
    float: right;
  }
  .bars > span {
    height: 5px;
    width: 30px;
    background-color: #C1A374;
    border-radius: 2px;
    transition: all 200ms ease-in-out;
  }
  .bars > span:not(:last-child) {
    margin-bottom: 5px;
  }
  .open {
    transition: all 200ms ease-in-out;
  }
  .open .bar1 {
    transform: rotate(45deg);
    transform-origin: 8px 10px;
    transition: all 200ms ease-in-out;
  }
  .open .bar2 {
    opacity: 0;
    transform: translate(10%);
    transition: all 200ms ease-in-out;
  }
  .open .bar3 {
    transform: rotate(-45deg);
    transform-origin: 1px -8px;
    transition: all 200ms ease-in-out;
  }
  .mobile__menu {
    position: fixed;
    visibility: visible;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    padding: 20px 10px;
    align-items: end;
    background-color: #faffb9;
    background-blend-mode: luminosity;
    gap: 25px;
  }
  .mobile__menu > a, .mobile__menu a:active, .mobile__menu a:focus {
    visibility: visible;
    font-family: "Abril Fatface", cursive;
    font-weight: bold;
    font-size: 2.5rem;
    color: #C1A374;
  }
}
@media (min-width: 481px) {
  .desktop__links {
    height: 40px;
    margin: 10px 20px 0 0;
    padding: 20px;
    align-items: center;
    font-family: "Abril Fatface", cursive;
    background-color: #faffb9;
    border: 2px solid #C1A374;
    border-radius: 20px;
    gap: 20px;
  }
  .desktop__links a {
    padding: 4px 16px;
    margin: 5px;
    color: black;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
  }
  .desktop__links a:hover {
    transform: scale(1.1);
  }
}
.hero {
  background-color: #faffb9;
  height: 100%;
  background-image: url(../Images/vintage-alarm-clock.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px auto;
  background-attachment: fixed;
  background-blend-mode: luminosity;
  text-align: center;
  padding: 0 10px;
}
.hero > h1 {
  color: black;
  padding: 15px 40px;
  align-items: center;
  font-family: "Abril Fatface", cursive;
  background-color: #faffb9;
  border-radius: 20px;
}
.hero > p {
  color: black;
  margin-top: -5px;
  margin-bottom: 30px;
  padding: 15px;
  align-items: center;
  font-family: "Abril Fatface", cursive;
  background-color: #faffb9;
  border-radius: 0 0 20px 20px;
}

@media (min-width: 481px) {
  .hero {
    background-color: #faffb9;
    background-image: url(../Images/vintage-alarm-clock.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1500px auto;
    text-align: center;
  }
  .hero > h1 {
    font-size: 2rem;
  }
  .hero .shop {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.098);
  }
  .hero .shop:hover {
    color: #C1A374;
    transform: scale(0.9);
    background-color: white;
  }
  .hero .shop:hover a {
    color: #C1A374;
  }
}
.products {
  background-color: #faffb9;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0px;
  text-align: center;
}
.products > h2 {
  padding: 0 0 20px 0;
}
.products .products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}
.products .each-product {
  color: #C1A374;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  gap: 10px;
  justify-content: end;
  align-items: center;
}
.products .each-product img {
  border-radius: 12px 12px 0 0;
  width: 155px;
  filter: drop-shadow(10px 0px 50px #C1A374) drop-shadow(0px 0px 0 white);
}
.products .each-product p {
  font-family: "Abril Fatface", cursive;
  font-weight: lighter;
}

@media (min-width: 481px) {
  .products {
    padding: 20px;
    height: 120%;
    text-align: center;
    justify-content: right;
  }
  .products .products-container {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    float: right;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    padding: 0 20px;
  }
}
.about-us {
  background-image: url(../Images/aboutusBG.png);
  background-position: center;
  background-size: 700px;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #22A699;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 1.2rem;
  text-align: start;
  line-height: 1.5;
}
.about-us h2 {
  padding: 10px 10px;
  text-align: center;
  color: white;
}
.about-us .aboutUs-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}
.about-us p {
  padding: 10px 20px;
  background-color: rgba(11, 10, 10, 0.516);
  color: #FFFFFF;
}
.about-us .newsletter {
  text-align: center;
  padding: 20px 0;
}
.about-us .newsletter input {
  display: block;
  outline: 0;
  border: 0;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.about-us .newsletter .sub-btn {
  all: unset;
  font-size: 0.875rem;
  font-family: "Abril Fatface", cursive;
  margin-top: 8px;
  padding: 0 18px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  color: white;
  background-color: #BCCEB4;
  border-radius: 7px;
}

@media (min-width: 481px) {
  .about-us {
    height: 100vh;
  }
  .aboutUs-container {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .aboutUs-container > p {
    padding: 30px;
    width: 50%;
  }
  .aboutUs-container .newsletter .sub-btn {
    cursor: pointer;
    background-color: #BCCEB4;
    transition: all 150ms ease-in-out;
  }
  .aboutUs-container .newsletter .sub-btn:hover {
    transform: scale(0.9);
  }
}
.testimonials {
  padding: 20px 10px;
  background-color: #22A699;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.testimonials h2 {
  color: white;
}
.testimonials .testimonials-container {
  height: inherit;
  margin-top: 40px;
  gap: 80px;
}
.testimonials .testimonials-container .reviews {
  gap: 15px;
}
.testimonials .testimonials-container .reviews > img {
  width: 150px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.088);
}
.testimonials .testimonials-container .reviews .rating {
  color: white;
}
.testimonials .testimonials-container .reviews .rating i {
  margin: 1px;
  text-shadow: 1px 1px 1px black;
}
.testimonials .testimonials-container .reviews > p {
  font-style: italic;
  padding: 20px;
  font-weight: 400;
  background-color: white;
  font-family: "Abril Fatface", cursive;
  color: #22A699;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.119);
}

@media (min-width: 481px) {
  .testimonials {
    background-position: left;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .testimonials-container {
    margin-top: 0 !important;
    padding-top: 0;
    align-items: center;
    flex-direction: row;
  }
}
.featured {
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #FFDAB9;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 30px;
  background-position: center;
  background-blend-mode: darken;
  gap: 50px;
}
.featured > img {
  width: 60%;
}
.featured .featured-info {
  padding: 15px 10px;
  font-family: "Raleway", sans-serif;
  color: #C1A374;
  background-color: #faffb9;
  box-shadow: 0px 5px 0px 0px #22A699;
  border-radius: 15px;
  gap: 20px;
}

@media (min-width: 481px) {
  .featured {
    height: 1005;
  }
  .featured > img {
    width: 40%;
  }
}
.contact {
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0 0 0px;
  background-color: #22A699;
  text-align: center;
  color: white;
  font-family: "Abril Fatface", cursive;
}
.contact form {
  opacity: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  padding: 20px 10px;
}
.contact form input {
  border: 0;
  border-radius: 4px;
  padding: 5px 8px;
}
.contact form textarea {
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 5px 8px;
}
.contact form .submit {
  background-color: #BCCEB4;
  transition: all 150ms ease-in-out;
}
.contact form .submit:hover {
  transform: scale(0.9);
}
.contact .google-map iframe {
  margin-top: 50px;
  margin-bottom: 0px;
  width: 100%;
  height: 450;
  border: 0;
}

#copyright {
  color: white;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  background-color: #22A699;
}

@media (min-width: 481px) {
  .contact {
    background-size: 1800px;
    background-position: left center;
  }
  .contact .contact-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact .contact-container .google-map {
    width: 100%;
  }
}
.maximilian {
  height: 100vh;
  background-image: url(../Images/featuredBG.png);
  background-color: #FFDAB9;
  background-size: 150px;
  overflow-x: hidden;
}
.maximilian img {
  width: 90%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.43);
  border-radius: 10px 10px 0 0;
}
.maximilian .maximilian-info {
  width: 90%;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.maximilian .maximilian-info h2 {
  font-size: 1.4rem;
  color: #BCCEB4;
}

@media (min-width: 481px) {
  .maximilian {
    height: 100vh;
    background-image: url(../Images/featuredBG.png);
    background-color: #FFDAB9;
    background-size: 150px;
    overflow-x: hidden;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px;
  }
  .maximilian img {
    width: 50%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 10px 10px 0 0;
  }
  .maximilian .maximilian-info {
    width: 50%;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background-color: white;
  }
  .maximilian .maximilian-info h2 {
    font-size: 1.4rem;
    color: #BCCEB4;
  }
}
.quantity-selection {
  margin: 20px 0;
}
.quantity-selection input {
  width: 50px;
  border: 2px solid #22A699;
  border-radius: 5px;
  text-align: center;
  color: #22A699;
  font-size: bolder;
  margin: 0 10px;
}
.quantity-selection button:hover {
  background-color: #FFDAB9;
}

.atc {
  margin: auto;
  width: inherit;
}
.atc:hover {
  background-color: #FFDAB9;
}

.cart-icon {
  font-size: 2.5rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  z-index: 9999;
}/*# sourceMappingURL=styles.css.map */